@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 2 6 23;
  --panel: 15 23 42;
  --border: 30 41 59;
  --text-primary: 241 245 249;
  --text-secondary: 148 163 184;
}

body {
  @apply bg-background text-text-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}